# Версия Python: 3.8+

# Работа с данными
pandas==1.5.3
numpy==1.24.2

# Визуализация
matplotlib==3.7.1
seaborn==0.12.2

# Работа с датами и временем
python-dateutil==2.8.2

# Для запуска в Jupyter/Colab
ipython==8.12.0
notebook==6.5.4

# Дополнительные библиотеки для анализа и статистики
scipy==1.10.1
